$font: 'Roboto', sans-serif;
$bg-hop-dong: #00833E;
$bg-container: #FFFFFF;
$text-header-container: #2C405A;
$text-header: #263238;
$text-table-header: #4E5A69;
$bg-button-sidebar: #4E5A69;
$bg-icon-notification: #4E5A69;
$bg-box-user: #4E5A69;
$text-fullname: #2B2B2B;
$bg-chuyen-quy: #0068D9;
$bg-print:#F0F7FF;
$text-active-sidebar:#00833E;
$bg-sidebar-active:#EDF3F0;


$height-content-sidebar: calc(100vh - 80px);